version: '3'

services:
  mint-express:
    image: mint-express
    restart: always
    build: .
    environment:
      - MONGODB_URL=mongodb://mongodb:27017/mint-express
    ports:
      - '80:3000'
    links:
      - mongo
    depends_on:
      - mongodb
    volumes:
      - .:/usr/src/mint-express
    networks:
      - node-network
  mongodb:
    image: mongo:4.2.1-bionic
    ports:
      - '27017:27017'
    volumes:
      - dbdata:/data/db
    networks:
      - node-network

volumes:
  dbdata:

networks:
  node-network:
    driver: bridge
